MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=casita_user
MYSQL_PASSWORD=change-me
MYSQL_DATABASE=casitaiedis
MYSQL_CONNECTION_LIMIT=10
SESSION_SECRET=replace-with-a-long-random-secret
GOOGLE_CLIENT_ID=182000980506-g7e79r026td38bsiipnttp36osl28hvb.apps.googleusercontent.com
NUXT_PUBLIC_PASE_PLATFORM_URL=
